<div class="about-page"  style="max-width: 800px; margin: 0 auto">
<h2>MEMFI</h2>


<div class="row">
    <div class="col s3">
        <img class="profile-pic" src="/static/img/ian.png" />
    </div>
    <div class="col s9">
        <h4>Ian Griffiths</h4>
        <p>
            Ian Griffiths is a Royal Society University Research Fellow and Senior Research Fellow at the <a href="http://www.maths.ox.ac.uk">Mathematical Institute</a> at the University of Oxford.
            He is a Fellow of <a href="http://www.mansfield.ox.ac.uk">Mansfield College</a>.
            He spends part of each year in <a href="http://www.princeton.edu">Princeton University</a>  where he lectures Math Alive, a course in the <a href="www.math.princeton.edu%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFAtmMSpw8u9XCflt1AvZm9CSvfgw">Department of Mathematics</a> demonstrating the importance of mathematics in everyday life.
            He also has a collaborative network with <a href="http://www.princeton.edu%2Fmae%2Fpeople%2Ffaculty%2Fstone%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGFiDiHyP-hkB0dj69FJDChomR3DA">Howard Stone</a> and the <a href="http://www.princeton.edu%2F~stonelab%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGoa1AH1AnjgVOfR1FjZ6Oh-InVVw">Complex Fluids Group</a> at Princeton, and the Laboratory of Fields, Flows, and Interfaces at Ryerson University in Toronto.
            Ian has been a postdoctoral research associate in both the <a href="http://www.princeton.edu%2F&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEKk2Qr8IT8TTeqb4YV_XeA6mR5pw">Complex Fluids Group</a>, Princeton, and in <a href="http://www.maths.ox.ac.uk%2Foccam&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHenrqPDuciCe1cAnvQAkVG0MzFeQ">OCCAM</a> at Oxford, and completed his doctorate in Oxford in glass tube manufacture.
        </p>
    </div>
</div>


<div class="row">
    <div class="col s3">
        <img class="profile-pic" src="/static/img/maria.png" />
    </div>
    <div class="col s9">
        <h4>Maria Bruna</h4>
        <p>Maria Bruna is a Junior Research Fellow in Mathematics at <a href="http://www.sjc.ox.ac.uk/945-6316/Dr-Maria-Bruna.html">St John's College</a>, Oxford.
            She is a member of the <a href="http://www.sjc.ox.ac.uk/945-6316/Dr-Maria-Bruna.html">2020 Science programme</a> and has worked with the Computational Ecology & Environmental Science group at Microsoft Research in Cambridge.
            Prior to this she completed a D.Phil in Applied Mathematics at Oxford (2012) stochastic diffusion models.
            Her research interests lie in the stochastic modelling of interacting particle systems, with applications for explaining how individual-level mechanisms give rise to population-level behaviour in biology and ecology.
        </p>
    </div>
</div>


<div class="row">
    <div class="col s3">
        <img class="profile-pic" src="/static/img/mohit.jpg" />
    </div>
    <div class="col s9">
        <h4>Mohit Dalwadi</h4>
        <p>
            Mohit Dalwadi is a Postdoctoral Research Assistant in the <a href="http://www.maths.ox.ac.uk">Mathematical Institute</a> at the University of Oxford.
            He is currently devising mathematical models to investigate the problem of removing contaminants from a fluid via membrane filtration.
            His undergraduate degree is in  Mathematics (completed in 2010), and his doctorate is in Applied Mathematics (completed in 2014), both from the University of Oxford.
            In his doctorate, Mohit investigated various fluid mechanics and nutrient transport problems that arose in biological experiments used to grow artificial body tissue.
        </p>
    </div>
</div>
</div>




