<div class="large-logo__wrapper">
  <img src="/static/img/memfi-logo.jpg" />
</div>

<div class="header center">
<h4>Modelling and Experiments: A Membrane Filtration Interface</h4>
</div>

<div class="large-logo__footer">
  <img class="large-logo__footer--img" src="/static/img/logo.jpg" />
  <br />
  <div class="large-logo__footer--colophon">
    (C) 2015. Dr. Ian Griffiths, Dr. Maria Bruna, Dr. Mohit Dalwadi
  </div>
</div>
