<h3>Homogenization Model</h3>

<p>There are two main stages to this model.</p>

<p>
 The first stage reduces the considerable computational expense (due to the difficult geometry of the filter) of calculating the filtration process.
 This is carried out via homogenization techniques, which allows the microstructure of the filter to be systematically calculated and accurately represented on a macroscale.
 In particular, this allows us to investigate the effect of a varying porosity, an aspect of membrane filters which has been shown experimentally to be important in the filtration process.
</p>


<p>
 The second stage of the model applies the macroscale equations to a filter whose porosity varies in one direction only - the same direction as the flow.
 We extend the model by assuming that the filter is placed between two water baths, and then solve this coupled problem to derive appropriate boundary conditions for the filter.
 The combination of the systematically derived macroscale equation and boundary conditions is the problem which we solve on this page.
</p>

<div class="row">

  <div class="col s12">
        <iframe class="high-iframe" src="{{server_prefix}}/bokeh/homogenization_model/"></iframe>
  </div>
</div>

<h4>Publication</h4>

<p>
    <a href="#" target="_"><span style="text-decoration: underline">How gradients in porosity can make a better filter: A mathematical homogenization</span>, <i>forthcoming</i>, M.P. Dalwadi, I.M. Griffiths, M.Bruna A. </a>
</p>
