<form action="/model/2/" method="post" name="model2">
  <div class="row" style="margin-top: 40px">
    <h4>Porosity model</h4>

    <div class="row">
      <div class="col s4">
        <label>
          Model type
        </label>
      </div>
      <div class="col s8">
        <div class="row">
          <div class="col s4">
            <input name="model_type" type="radio" id="linear" value="linear" checked />
            <label for="linear">Linear</label>
          </div>
          <div class="col s4">
            <input name="model_type" type="radio" id="convex" value="convex"/>
            <label for="convex">Convex</label>
          </div>
          <div class="col s4">
            <input name="model_type" type="radio" id="concave" value="concave"/>
            <label for="concave">Concave</label>
          </div>
        </div>
        <div class="row">
          <div class="model-img">
            <img class="model-img__linear" src="/static/img/linear.png" />
            <img class="model-img__convex hidden" src="/static/img/convex.png" />
            <img class="model-img__concave hidden" src="/static/img/concave.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label for="">Initial porosity (phi_0)</label>
      </div>
      <div class="col s2">
        <label>(0.4 - 1)</label>
      </div>
      <div class="col s6">
        <p class="range-field">
          <input type="range" id="phi_0" name="phi_0" min="0.4" max="1" step="0.1" value="0.9"/>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label for="">Final porosity (phi_1)</label>
      </div>
      <div class="col s2">
        <label>(0.4 - 1)</label>
      </div>
      <div class="col s6">
        <p class="range-field">
          <input type="range" id="phi_end" name="phi_end" min="0.4" max="1" step="0.1" value="0.6"/>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label for="">Length of filter (L)</label>
      </div>
      <div class="col s2">
        <label>(1 - 10)</label>
      </div>
      <div class="col s6">
        <p class="range-field">
          <input type="range" id="L" name="L" min="1" max="10" step="1" value="10"/>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col offset-s4 s8">
        <button class="btn waves-effect waves-light" id="submit" name="action">
          Generate membrane
          <i class="mdi-content-send right"></i>
        </button>
      </div>
    </div>
  </div>
</form>

<script>
  showLoading = function() {
    $("form[name='model2']").addClass("loading");
  };
  hideLoading = function() {
    $("form[name='model2']").removeClass("loading");
  };
  
  render_results = function(json) {

    <!-- plot_file = json.plot_file; -->
    plot_file = "results/model2.png";

    var elem = document.createElement("img");
    elem.src = plot_file;
    <!-- elem.setAttribute("height", "768"); -->
    <!-- elem.setAttribute("width", "1024"); -->
    $("#model2-results").empty().append(elem);

    hideLoading();
  }

  $(function() {
    $("form[name='model2']").submit(function() {

      showLoading();
      setTimeout(render_results, 2000);
      // $.post( $(this).attr('action'),
      //         $(this).serialize(),
      //         render_results,
      //         'json');

      return false;
    });

    $("input[name='model_type']").on('change', function(e) {
        var id = $(e.target).attr("id");
        $(".model-img").children().addClass('hidden');
        $(".model-img .model-img__"+id).removeClass('hidden');
    });
  });
  </script>
