<form action="/model/2b/" method="post" name="model2b">
  <div class="row" style="margin-top: 40px">
    <h4>Membrane model</h4>

    <div class="row">
      <div class="col s4">
        <label for="p_diff">Pressure difference (P_diff)</label>
      </div>
      <div class="col s2">
        <label>(50 - 1000)</label>
      </div>
      <div class="col s6">
        <p class="range-field">
          <input type="range" id="p_diff" name="p_diff" min="50" max="1000" step="20" value="200"/>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label for="">Uptake coefficient (k)</label>
      </div>
      <div class="col s2">
        <label>(0.1 - 10)</label>
      </div>
      <div class="col s6">
        <p class="range-field">
          <input type="range" id="k_coeff" name="k_coeff" min="0.1" max="10" step="0.1" value="1"/>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label for="">Concentration (c_0)</label>
      </div>
      <div class="col s2">
        <label>(1 - 10)</label>
      </div>
      <div class="col s6">
        <p class="range-field">
          <input type="range" id="c_inf" name="c_inf" min="1" max="10" step="1" value="10"/>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col offset-s4 s8">
        <button class="btn waves-effect waves-light" id="submit" name="action">
          Compute model
          <i class="mdi-content-send right"></i>
        </button>
      </div>
    </div>
  </div>
</form>

<div name="model2b-ouput">
  <div class="row" style="margin-top: 40px">
    <h4>Outputs</h4>

    <div class="row">
      <div class="col s4">
        <label for="p_diff">C_end</label>
      </div>
      <div class="col s8">
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label for="">Q</label>
      </div>
      <div class="col s8">
      </div>
    </div>
  </div>
</div>


<script>
  showLoading_2b = function() {
    $("form[name='model2b']").addClass("loading");
  };
  hideLoading_2b = function() {
    $("form[name='model2b']").removeClass("loading");
  };
  
  render_results_2b = function(json) {

    <!-- plot_file = json.plot_file; -->
    plot_file = "results/model2b.png";

    var elem = document.createElement("img");
    elem.src = plot_file;
    <!-- elem.setAttribute("height", "768"); -->
    <!-- elem.setAttribute("width", "1024"); -->
    $("#model2b-results").empty().append(elem);

    hideLoading_2b();
  }

  $(function() {
    $("form[name='model2b']").submit(function() {

      showLoading_2b();
      setTimeout(render_results_2b, 2000);
      // $.post( $(this).attr('action'),
      //         $(this).serialize(),
      //         render_results,
      //         'json');

      return false;
    });
  });
  </script>
