.large-logo__wrapper {
    margin-top: 40px;
    text-align: center;
}

.large-logo__footer {
    margin-top: 20px;
    text-align: center;
}

.large-logo__footer--img {
    width: 300px;
}

.hidden {
    display: none;
}


.model-img img {
    width: 300px;
}

img.profile-pic {
    width: 100%;
}

.loading {
    background-color: #ddd;
}

iframe {
    width: 100%;
    min-height: 500px;
    border: none;
}
.high-iframe {
    min-height: 1000px;
}

form label {
    font-size: 1.1em;
}

.bounds-wrapper {
    position: relative;
    width: 30px;
}
.bounds {
    position: absolute;
    top: 20px;
}

