{% extends "base.html" %}

{% block content %}

<div style="max-width: 1200px; margin: 0 auto">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#home">Home</a></li>
                <li class="tab col s3"><a href="#model1">Network Model</a></li>
                <li class="tab col s3"><a href="#model2">Homogenization Model</a></li>
                <li class="tab col s3"><a href="#about">About</a></li>
            </ul>
        </div>

        <div id="home" class="col s12">
            {% include "partials/home.html" %}
        </div>

        <div id="model1" class="col s12">

            <div class="row">
            </div>

            <div class="row">
                <div class="col s12">
                    {% include "partials/network_model.html" %}
                </div>
            </div>

        </div>

        <div id="model2" class="col s12">

            <div class="row">
                {% include "partials/homogenization_model.html" %}
            </div>

        </div>


        <div id="about" class="col s12">
            {% include "partials/about.html" %}
        </div>
    </div>
</div>

{% endblock %}
